{% for post in paginator.posts %}

<div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
            <span class="post-meta"><img src="{{ "/assets/icon-calendar.svg" | prepend: site.baseurl }}">  {{ post.date | date: "%b %-d, %Y" }}</span>
          <span class="card-title">{{ post.title }}</span>
          <p>{{ post.excerpt }}</p>
        </div>
        <div class="card-action">
          <a href="{{ post.url | prepend: site.baseurl }}">
           <h5> කියවන්න...</h5>
          </a>
        </div>
      </div>
    </div>
</div>
{% endfor %}
